<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="main.css">
	<title>New Books</title>
</head>	
	<body>
		<form method="post" action="/articles/new">
		<div>
			<input type="text" name="newArticle[title]">
		</div>
		<div>
			<textarea name="newArticle[summary]"></textarea>
		</div>
		<div>
			<button>Save</button>
		</div>
		</form>
	</body>
</html>