<!DOCTYPE html>
<html>
	<body>
	<h1>ABOUT PAGE</h1>
	<h3>Editor - Node Mon</h3>
	<h3>Publisher - General Assembly</h3>
	<h3>Report Staff</h3>
		<ol>
		<li>Tyler Durden</li>
		<li>Marv</li>
		<li>Neo</li>
		<li>Sgt. Slaughter</li>
		</ol>
	</body>
</html>
